<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-form-item>
        <nz-form-label [nzRequired]="true" [nzFor]="'name'">Full Name
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'Full name must have at least 3 characters'">
            <input nz-input placeholder="(minimum 3 characters)" [formControlName]="'name'" [maxlength]="255" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzRequired]="true" [nzFor]="'name'">Address
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'Address name must have at least 6 characters'">
            <input nz-input placeholder="(minimum 6 characters)" [formControlName]="'address'"
                [maxlength]="255" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzRequired]="true" [nzFor]="'name'">Credit and Number
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'CreritCard is maximum 16 characters'">
            <input nz-input appInputRestriction placeholder="(16-digit number)" [formControlName]="'creditcard'"
                [maxlength]="255" />
        </nz-form-control>
    </nz-form-item>
</form>
<button nz-button nzType="primary" [disabled]="!form.valid" (click)="submit()">Submit</button>